@media screen and (min-width:600px) {

    i{
        display: none;
    }

    #menug{
        display:inline;
        padding: 5px;
        text-align: left;
        margin-bottom: 0;
        padding: 0;
       

    }
    menu>ul{
        display: inline;
        list-style-type: none;
      
    }
    li{
        display: inline-block;
        border-color: rgb(14, 13, 13);
    }
    menu>ul>li>a{
        border:none;
    }
   
    
    
    
   
   
}